VITE_API_BASE_URL = http://localhost:5000/api/v1

# eSewa Config (Sandbox defaults)
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBak4Bk6GiA3OTbhMoA3p0HGgD251LB1AG
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_STATUS_CHECK_URL=https://uat.esewa.com.np/api/epay/transaction/status/